<nav class="user-details cyan darken-2">
   <div class="nav-wrapper">
      <a href="#!" class="brand-logo nav-text logo-setting">
      <img id="root" src="../images/logo.png" style="height: 153px;width: 187px;padding-bottom: 38px;margin-top: -26px;" alt="" class="circle responsive-img valign ">
      </a>
      <!--<a href="#" class="brand-logo nav-text" ><img class="responsive-img" src="../images/logo.png" style="width:45px;height: 36px;margin-top: 12px;" alt="Smiley face">Contnt</a>-->
      <ul id="userDropdown" class="dropdown-content">
         <li><a href="#!">Profile</a></li>
         <li class="divider"></li>
         <li><a href="#!">Settings</a></li>
         <li class="divider"></li>
         <li><a href="/login">Logout</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
         <li>
            <a href="#!">
            </a>
         </li>
         <!--<li><a class="dropdown-button nav-text" href="#!" data-activates="userDropdown">Username</a></li>-->
         <li><a class="nav-text" href="/login">Logout</a></li>
      </ul>
   </div>
</nav>
<br><br>
<ul id="slide-out" class="side-nav fixed sidebar_settings">
   <li class="user-details cyan darken-2">
      <div class="row">
         <div class="col col s12 m12 l12 center-align">
            <img src="../images/flat-avatar.png" alt="" class="circle adminAvtar center-align responsive-img valign profile-image">
         </div>
      </div>
      <p class="white-text center-align">Administrator</p>
      <p class="white-text center-align">{{currentUser.data.username}}</p>
   </li>
   <li class="active"><a href="#!" ><i class="material-icons active">show_chart</i>Analysis</a></li>
   <li>
      <div class="divider"></div>
   </li>
   <li><a href="#!"><i class="material-icons">person</i>User Panel</a></li>
   <li>
      <div class="divider"></div>
   </li>
   <li><a a href="#!"><i class="material-icons">settings_applications</i>Settings</a></li>
   <li>
      <div class="divider"></div>
   </li>
   <li><a class="waves-effect" href="/login"><i class="material-icons">input</i>Logout</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>








<div class="container">
  <div class="section">
    <div class="row">


      <table class="responsive-table striped " style="margin-left: 10%;">
        <thead>
          <tr>
              <th>email</th>
              <th>username</th>
              <th>Image Uploads</th>
              <th>last Image Uplaod(UTC)</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in users.items">
            <td>{{user.local.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.images.length}}</td>
            <td>{{user.updatedAt}}</td>

          </tr>
        </tbody>
      </table>

    </div>
    <!-- Row -->


  </div>
  <!-- Section -->
</div>
<!-- Container -->


