    <nav class="nav-settings">
        <div class="nav-wrapper">
        


                        <a href="#!" class="brand-logo nav-text logo-setting">
                            <img id="root" src="../images/logo.png" style="height: 153px;width: 187px;padding-bottom: 38px;margin-top: -26px;" alt="" class="circle responsive-img valign ">
                        </a>
                        <!--<a href="#" class="brand-logo nav-text" ><img class="responsive-img" src="../images/logo.png" style="width:45px;height: 36px;margin-top: 12px;" alt="Smiley face">Contnt</a>-->
     
                        

                        <ul id="userDropdown" class="dropdown-content">
                        <li><a href="#!">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/login">Logout</a></li>
                        </ul>
                        <ul id="nav-mobile" class="right">

                            
                            <li>


                            <a href="#!">
                                <img src="../images/avatar.png" alt="" class="circle responsive-img valign username-logo">
                            </a>
                            </li>
                            <!--<li><a class="dropdown-button nav-text" href="#!" data-activates="userDropdown">Username</a></li>-->
                            <li><a class="nav-text" href="/login">Logout</a></li>
                        </ul>
     
           
        </div>
    </nav>
<br><br>
<div class="row">
    <div class="col s12 m4 l4"><p></p></div>
    <div class="col s12 m4 l4">
        <p>
            <form id="upload" enctype="multipart/form-data" method="POST" action="/upload" class="container">
             <!--<button ng-click="selectFile()">Upload Your File</button>-->
             <!--<input type="file" id="input-file-now" file-model="myFile" name="image" class="dropify" onchange="angular.element(this).scope().uploadImage()"/>-->

                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn topics">
                            <span>File</span>
                            <input type="file" id="input-file-now" file-model="myFile" name="image" class="dropify" onchange="angular.element(this).scope().uploadImage()"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
            </form>
        </p>
    </div>
    <div class="col s12 m4 l4"><p></p></div>
  </div>
<div class="row" ng-if="loader">
    <div class="col s12 m4 l4"><p></p></div>
    <div class="col s12 m4 l4">
        <p>
            <div class="progress container">
                <div class="indeterminate"></div>
            </div>          
        </p>
    </div>
    <div class="col s12 m4 l4"><p></p></div>
</div>
    
  









            
            
        </div>
         <br>
        
       
        <div id="exp" class="imgContainer" droppable drop="handleDrop" bin="bin">
            
                <img class="materialboxed center-align white"  id="image56"  data-caption="A picture of a way with a group of trees in a park" style="margin: 0 auto" width="300" ng-src="{{imageUrl}}"> <!-- random image -->

            </div>
        </div><br> 
        
        <div class="row" >
            <div class="col s12 m4 l4"><p></p></div>
            <div class="col s12 m4 l4" >
                <p>
                    <a class='dropdown-button btn topics' href='#' data-activates='dropdown5'>Fonts Styles!<i class="material-icons right">arrow_drop_down</i></a>
                    <a class='dropdown-button btn topics' href='#' data-activates='dropdown4'>Fonts Sizes!<i class="material-icons right">arrow_drop_down</i></a>
                </p>
            </div>
            <div class="col s12 m4 l4"><p></p></div>
        </div>
        

        

        <div class="row" ng-show="opacityFlag">
            <div class="col s12 m4 l4"><p></p></div>
            <div class="col s12 m4 l4" >
                <p>
                    <input id="contrastSlider" type="range" value="contrast" max="1.0" min="0.5" step="0.01"></input>         
                </p>
            </div>
            <div class="col s12 m4 l4"><p></p></div>
        </div>

        <div ng-show="opacityFlag" class="center-align">
            

            <!--<input typy="range" ng-change="changeRange()" min="0" max="1" step=".01" value="0"  data-show-value="true">-->
            <!--<a class="waves-effect waves-light btn topics" ng-click="document.getElementById('upload').submit();"><i class="material-icons left">cloud_upload</i>Upload</a>-->
            <!--<a class="waves-effect waves-light btn topics" id="btnSubmit" ng-click="uploadImage()"><i class="material-icons left">cloud_upload</i>Upload</a>-->
            <!--<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>-->
            <!--<a class="waves-effect waves-light btn topics" ng-click="uploadImage(imageData)" type="submit"><i class="material-icons left">cloud_upload</i>Upload</a>-->
            <a class="waves-effect waves-light btn topics" ng-click="export()"><i class="material-icons right">input</i>Export</a>
        </div>

        <div id="img-out"></div>
    
<br> <br>
<div class="col s12 m4 l12 xl12">
    <div class="collection with-header container quotes">
        <a href="#!" ng-repeat = "q in quotes.items" id="item-{{$index}}" draggable item="item" class="collection-item">{{q.body}}</a>
    </div>
    <a class="waves-effect waves-light btn topics right" ng-if="quotesFlag" ng-click="refreshQuote()"><i class="material-icons right">refresh</i>Refresh</a>
    <br> <br>
    <div class="center-align">
          <!--<a class="waves-effect waves-light btn black">Choose TOPICS</a>-->
    </div><br><br>
    <a  ng-repeat = "t in topics.items" class="waves-effect waves-light btn topics button-margins" ng-click="getQuotes(t._id, 1)">{{t.name}}</a>
</div>


        <!-- Dropdown Trigger -->
            <!-- Dropdown Trigger -->
   <!-- Dropdown Trigger -->
  

  <!-- Dropdown Structure -->
  <ul id='dropdown5' class='dropdown-content'>
    <li><a href="#!" ng-click="changeFontStyle('Arial')">Arial</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="changeFontStyle('Comic Sans MS')">Comic Sans MS</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="changeFontStyle('Times New Roman')">Times New Roman</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="changeFontStyle('Georgia)">Georgia</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="changeFontStyle('Courier')">Courier</a></li>
    <li class="divider"></li>
    <!--<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>-->
    <!--<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>-->
  </ul>


  <ul id='dropdown4' class='dropdown-content'>
    <li><a href="#!" ng-click="changeFontSize('19px')">19</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="changeFontSize('20px')">20</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="changeFontSize('21px')">21</a></li>
    <li class="divider" ></li>
    <li><a href="#!" ng-click="changeFontSize('22px')">22</a></li>
    <li class="divider" ></li>
    <li><a href="#!" ng-click="changeFontSize('23px')">23</a></li>
    <li class="divider" ></li>
    <li><a href="#!" ng-click="changeFontSize('24px')">24</a></li>
    <li class="divider" ></li>
    <li><a href="#!" ng-click="changeFontSize('26px')">26</a></li>
    <li class="divider" ></li>
    <!--<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>-->
    <!--<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>-->
  </ul>