<!DOCTYPE html>
<html >
<head>
  <title>Admin Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS Libs -->
  
<meta name="viewport" content="width=device-width, initial-scale=1">      
	  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
	  <link rel="stylesheet" href="../content/css/material/css/materialize.min.css">



      <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script> 
      <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>          
      <script src="../bower_components/materialize/dist/js/materialize.min.js"></script> 
  <link href="../content/css/style.css" rel="stylesheet">
  <!-- CSS App -->
  <!--<link rel="stylesheet" type="text/css" href="../css/main.css">-->
</head>

<body class="teal loaded">
      <!-- show any messages that come back with authentication -->
      
            <% if (message.length > 0) { %>
                <script> 
                var toastText = 
                    Materialize.toast("<%= message %>", 4000)
                </script>
            <% } %>
            <div class="row">
                <div class="col xl4 s11 m4 l4 login-form">
                  <div class="card-panel forgot-password-card-panel z-depth-5">
                      <div class="row">
                          <form id="myform" action="/sendVerificationLink" method="POST" enctype="application/x-www-form-urlencoded">
                              <div class="input-field col s12 m12 l12 xl12 center">
                                <!--<img src="http://demo.geeasfdkslabs.com/materialize-v1.0/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                                <p class="center login-form-text"><h5 class="head-color">Forgot Password</h5></p>
                              </div>
                              <div class="input-field col s12 m12 l12 xl12">
                                  <i class="mdi-communication-email prefix head-color"></i>
                                  <input id="email" name="email" type="email" class="validate">
                                  <label for="username">email</label>
                              </div>
                              <div class="row">
                                  <div class="input-field col s12 m12 l12 xl12">
                                        <button id="submit" type="submit" class="btn waves-effect waves-light col s12">Send link to email
                                        </button>                    
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </body>
  </html>
