<!DOCTYPE html>
<html >
<head>
  <title>Admin Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS Libs -->
  
<meta name="viewport" content="width=device-width, initial-scale=1">      
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">-->
        <script src="../bower_components/angular/angular.min.js"></script>
      <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="../bower_components/angular-jwt/dist/angular-jwt.min.js"></script> 
      <script src="../content/js/app.js"></script>
      <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
      <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="../content/css/dropify.min.css">
      
      <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>           
      <script type="text/javascript" src="../bower_components/dom-to-image/dist/dom-to-image.min.js"></script>           
      <script src="../bower_components/materialize/dist/js/materialize.min.js"></script> 
      <script src="../content/scripts/dropify.min.js"></script>
      <script  src="../content/scripts/jquery.easyui.min.js"></script>
      <script  src="../content/scripts/html2canvas.js"></script>
      <script  src="https://superal.github.io/canvas2image/canvas2image.js"></script>
      <script  src="../content/scripts/FileSaver.min.js"></script>
      <link href="../content/css/style.css" rel="stylesheet">

  <!-- CSS App -->


        <!--======================= js files ==========================-->
        <script>
            
                $(document).ready(function(){
                    $('select').material_select();
                });    

            function allowDrop(allowdropevent) {
                allowdropevent.target.style.color = 'blue';
                allowdropevent.preventDefault();
            }

            function drag(dragevent) {
                dragevent.dataTransfer.setData("text", dragevent.target.id);
                dragevent.target.style.color = 'green';
            }

            function drop(dropevent) {
                dropevent.preventDefault();
                var data = dropevent.dataTransfer.getData("text");
                dropevent.target.appendChild(document.getElementById(data));
                document.getElementById(data).style.color = 'black';
            }

            
        </script>

        <script src="../content/js/services/ajaxService.js"></script>
        <script src="../content/js/services/dataService.js"></script>

        <script src="../content/js/controller/dashboardController.js"></script>









</head>
<body class="teal loaded" ng-app="app">
    <div ui-view data-ng-controller="appController as vm" ng-init="vm.initUser(<%= currentUser %>)">
    </div>
</body>

</html>
