<!DOCTYPE html>
<html >
    <head>
      <title>Admin Panel</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS Libs -->
      
    <meta name="viewport" content="width=device-width, initial-scale=1">      
	  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
	  <link rel="stylesheet" href="../content/css/material/css/materialize.min.css">
          <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>           
          <script src="../bower_components/materialize/dist/js/materialize.min.js"></script> 
      <link href="../content/css/style.css" rel="stylesheet">
      <!-- CSS App -->
      <!--<link rel="stylesheet" type="text/css" href="../css/main.css">-->
    </head>
    <body class="teal loaded">
      <div class="row">
          <div class="col xl4 s11 m4 l4 register-form">
              <div class="card-panel newPassword-card-panel z-depth-5">
                  <div class="row">
                      <form id="myform" action="/newPassword" method="POST" enctype="application/x-www-form-urlencoded">
                          <div class="input-field col s12 m12 l12 xl12 center">
                            <!--<img src="http://demo.geeasfdkslabs.com/materialize-v1.0/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                            <p class="center login-form-text"><h5 class="head-color">Reset Password</h5></p>
                          </div>
                          <div class="input-field col s12 m12 l12 xl12">
                              <i class="mdi-action-lock-outline prefix head-color"></i>
                              <input id="password" type="password" name="password" class="validate">
                              <label for="password">New Password</label>
                          </div>
                          <div class="input-field col s12 m12 l12 xl12">
                              <i class="mdi-action-lock-outline prefix head-color"></i>
                              <input id="confirm_password" type="password" name="confirm_password" class="validate">
                              <label for="confirm_password">Confirm Password</label>
                          </div>
                          <div style="display: none" class="input-field col s12 m12 l12 xl12">
                              <i class="mdi-action-lock-outline prefix head-color"></i>
                              <input id="email" type="email" name="email" class="validate" value=<%= email %>>
                              <label for="email">Email</label>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                <button type="submit" class="btn waves-effect waves-light col s12" >Reset Password
                                </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
        </div>
    </body>
</html>
