.login-form {
    float: none !important;
    margin: 0 auto !important;
    margin-top: 7% !important

}

.adminLogo {
    margin-top: 34%;
}

.register-form {
    float: none !important;
    margin: 0 auto !important;
    margin-top: 4% !important

}
.card-panel {
    height: 491px;
    border-radius: 10px;
}

.forgot-password-card-panel {
    height: 277px;
    border-radius: 10px;
}
    .newPassword-card-panel {
        height: 346px;
        border-radius: 10px;
    }

    .activateAccount-card-panel {
        height: 176px;
        border-radius: 10px;
    }

.register-card-panel {
    height: 555px !important;
    border-radius: 10px;
}

.head-color {
    color: rgb(38, 166, 154) !important;
}


.topics {
    background: none !important;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
}

.quotes {
    overflow-y: auto !important;
    max-height: 166px;
}

.button-margins {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 1%;
}
 

.username-logo {
    margin-top: 33%;
}

.imgContainer {
     position: relative;
}



#text {
  z-index: 100;
  width: 19%;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 41%;
  top: 13%;
}


.sidebar_settings {
    margin-top: 4.25%;
    overflow-y: unset
}


@media only screen and (max-device-width: 330px) {
    .login-form {
        float: none !important;
        margin: 0 auto !important;
        margin-top: 20% !important;
        width: 91.66667% !important;
        
    }
    .logo-setting {
        margin-left: -84px !important;
    }
    .username-logo {
        margin-top: 20%;
    }
    .button-margins {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2%;
    }
    
}


@media only screen and (min-device-width: 332px) and (max-device-width: 399px) {
    .login-form {
        float: none !important;
        margin: 0 auto !important;
        margin-top: 20% !important;
        width: 91.66667% !important;
        
    }
    .logo-setting {
        margin-left: -104px !important;
    }
    .username-logo {
        margin-top: 20%;
    }
    .button-margins {
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 2%;
    };
    
}




@media only screen and (min-device-width: 400px) and (max-device-width: 600px) {
    .login-form {
        float: none !important;
        margin: 0 auto !important;
        margin-top: 13% !important;
    }
    .register-form {
        float: none !important;
        margin: 0 auto !important;
        margin-top: 14% !important

    }
    .logo-setting {
        margin-left: -126px !important;
    }
    .card-panel {
        height: 491px;
        border-radius: 10px;
    }
    .username-logo {
        margin-top: 20%;
    }
    .register-card-panel {
        height: 514px;
        border-radius: 10px;
    }
    .forgot-password-card-panel {
        height: 277px;
        border-radius: 10px;
    }
    .newPassword-card-panel {
        height: 346px;
        border-radius: 10px;
    }
    .activateAccount-card-panel {
        height: 176px;
        border-radius: 10px;
    }
    .button-margins {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2%;
    }
}


@media only screen and (min-device-width: 600px) and (max-device-width: 768px) {
    .login-form {
        float: none !important;
        margin: 0 auto !important;
        margin-top: 13% !important;
    }
    .register-form {
        float: none !important;
        margin: 0 auto !important;
        margin-top: 14% !important

    }
    .logo-setting {
        margin-left: -302px !important;
    }
    .card-panel {
        height: 491px;
        border-radius: 10px;
    }
    .username-logo {
        margin-top: 30%;
    }
    .register-card-panel {
        height: 514px;
        border-radius: 10px;
    }
    .forgot-password-card-panel {
        height: 277px;
        border-radius: 10px;
    }
    .newPassword-card-panel {
        height: 346px;
        border-radius: 10px;
    }
    .activateAccount-card-panel {
        height: 176px;
        border-radius: 10px;
    }
    .button-margins {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2%;
    }
}



.nav-settings {
    /*background-color: rgba(255, 255, 255, 0.86) !important*/
    background-color: #fff!important
}

.nav-text {
    color: #334a5d !important;
}

.image-input {
        margin: 0 auto !important;
            max-width: 48%;  
}

    






